---
import ProjectCard from "./ProjectCard.astro";
---

<ProjectCard
  title="Arino"
  shortDesc="An ingredient inventory management tool."
  images={["projects/arino_2.png", "projects/arino_3.png"]}
>
  <ul class="font-bold text-blue-400 list-disc list-inside">
    <li>Commits: 2024-08-31 to 2025-08-04</li>
  </ul>
  <p>
    Built in Rust in a Unix-style command-line interface to integrate with other
    CLI tools such as grep and shell pipelines.
    <br /><br />
    The data is stored in a local SQLite database and can be automatically synced
    to Cloud storage using Dropbox API for portability. It allows manual data updates
    and dish planning based on what ingredients you currently have.
  </p>

  <p>
    More info available at the <a
      class="text-blue-400 font-semibold"
      href="https://github.com/ilialyl/Arino"
      target="_blank"
      rel="noopener noreferrer">project repo</a
    >
  </p>
</ProjectCard>
