---
import { Carousel } from "webcoreui/astro";
import "../../styles/projects.css";
---

<div id="dsa" class="project-card">
    <div class="space-y-4 md:landscape:w-1/2">
        <h3 class="font-bold">Data Structure and Algorithms</h3>
        <h4 class="font-bold text-gray-400">
            Curtin College's Final Coursework
        </h4>
        <ul class="font-bold text-blue-400 list-disc list-inside">
            <li>First Commit: 2025-05-04</li>
            <li>Final Commit: 2025-05-17</li>
        </ul>
        <p>
            A command-line Bank Account Management System focused on
            self-implemented data structures in a practical context. While the
            design followed course guidelines, I used the opportunity to
            demonstrate my understanding of Data Structure and Algorithm.
        </p>
        <ul class="list-disc list-inside pl-4 space-y-2">
            <li>
                I implemented a Binary Search Tree (BST) to store and manage
                multiple bank accounts.
            </li>
            <li>
                I have a Queue implemented via a Linked List, which is used
                during BST traversal to save the order of nodes visited.
            </li>
            <li>
                The command-line interface (CLI) can take user commands which
                each of them has aliases, and command history, improving user
                experience.
            </li>
            <li>I had unit tests fully implemented.</li>
            <li>The code is modular and scalable.</li>
        </ul>
        <p>
            For more details, visit <a
                class="text-blue-400 font-semibold"
                href="https://github.com/cyandizy/DSAFinal"
                target="_blank"
                rel="noopener noreferrer">DSAFinal</a
            >
        </p>
    </div>
    <div class="md:landscape:w-1/2">
        <Carousel items={3}>
            <li><img src="./projects/dsa_1.png" /></li>
            <li><img src="./projects/dsa_2.png" /></li>
            <li><img src="./projects/dsa_3.png" /></li>
        </Carousel>
    </div>
</div>
