---
import { Carousel } from "webcoreui/astro";
import "../../styles/projects.css";
---

<div id="fedora-server" class="project-card">
  <div class="space-y-4 md:landscape:w-1/2">
    <h3 class="font-bold">Fedora Server</h3>

    <h4 class="font-bold text-gray-400">
      Turned old laptop into a home server
    </h4>

    <p>
      I turned an old laptop into a headless server used for hosting stuff,
      primarily a NextCloud server (Imagine Google Drive, but hosted at home).

      <br /><br />

      I manage it solely via SSH after the initialization and use Tailscale (a
      peer-to-peer VPN) for network. I also keep SSH server secure by allowing
      only key-pair authentication.
    </p>

    <ul class="space-y-5">
      <li>
        <a
          class="text-blue-400 font-semibold"
          href="https://nextcloud.com/"
          target="_blank"
          rel="noopener noreferrer">NextCloud</a
        >
      </li>

      <li>
        <a
          class="text-blue-400 font-semibold"
          href="https://tailscale.com/"
          target="_blank"
          rel="noopener noreferrer">Tailscale</a
        >
      </li>

      <li>
        <a
          class="text-blue-400 font-semibold"
          href="https://en.wikipedia.org/wiki/Secure_Shell"
          target="_blank"
          rel="noopener noreferrer">SSH</a
        >
      </li>

      <li>
        <a
          class="text-blue-400 font-semibold"
          href="https://www.ssh.com/academy/ssh/public-key-authentication"
          target="_blank"
          rel="noopener noreferrer">Key-Pair Authentication</a
        >
      </li>
    </ul>
  </div>

  <div class="md:landscape:w-1/2">
    <Carousel items={4}>
      <li>
        <a
          href="projects/fedora_server_1.png"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="./projects/fedora_server_1.png" /></a
        >
      </li>

      <li>
        <a
          href="projects/fedora_server_2.png"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="./projects/fedora_server_2.png" /></a
        >
      </li>

      <li>
        <a
          href="projects/fedora_server_3.png"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="./projects/fedora_server_3.png" /></a
        >
      </li>

      <li>
        <a
          href="projects/fedora_server_4.png"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="./projects/fedora_server_4.png" />
        </a>
      </li>
    </Carousel>
  </div>
</div>
