---
import { Carousel } from "webcoreui/astro";
import "../../styles/projects.css";
---

<div id="firefly" class="project-card">
  <div class="space-y-4 md:landscape:w-1/2">
    <h3 class="font-bold en-content">Firefly</h3>
    <h3 class="font-bold jp-content hidden">ホタル</h3>
    <h4 class="font-bold text-gray-400">
      A terminal music player with 4k lines of code.
    </h4>
    <ul class="font-bold text-blue-400 list-disc list-inside">
      <li>First Commit: 2025-07-14 (Long-term Project)</li>
    </ul>
    <p>
      Written in Rust, featuring <a
        class="text-blue-400 font-semibold"
        href="https://crates.io/crates/rodio"
        target="_blank"
        rel="noopener noreferrer">Rodio</a
      > (an audio playback library) and <a
        class="text-blue-400 font-semibold"
        href="https://ratatui.rs/"
        target="_blank"
        rel="noopener noreferrer">Ratatui</a
      > (a TUI framework).
      <br />
      This project involves multithreading, which exposes me to many new concepts,
      such as
      <ul class="list-disc list-inside">
        <li>Atomic Reference Counted Pointer (Arc).</li>
        <li>Mutex (Lock) and lock poisoning.</li>
        <li>Communicating Sequential Processes (CSP) (mpsc channels in Rust).</li>
      </ul>

      It primarily supports FLAC, MP3, Opus, and WAV as of now. Other formats
      can still be used. Though, not by decoding directly but by temporarily
      converting the format to FLAC using <a
        class="text-blue-400 font-semibold"
        href="https://ffmpeg.org/"
        target="_blank"
        rel="noopener noreferrer">ffmpeg</a
      >, a multimedia framework.<br />

      I plan to continue to develop this app into something that can stand
      alongside popular music players like <a
        class="text-blue-400 font-semibold"
        href="https://en.wikipedia.org/wiki/MusicBee"
        target="_blank"
        rel="noopener noreferrer">MusicBee</a
      >.
      <br />
    </p>

    <p>
      More detailed information and roadmap in
      <a
        class="text-blue-400 font-semibold"
        href="https://github.com/ilialyl/firefly"
        target="_blank"
        rel="noopener noreferrer">GitHub Repository</a
      >.
    </p>
    <p>
      Try it on
      <a
        class="text-blue-400 font-semibold"
        href="https://github.com/ilialyl/firefly/releases/download/v0.3.4/firefly-release-windows.zip"
        target="_blank"
        rel="noopener noreferrer">Windows (Prebuilt)</a
      >
      or
      <a
        class="text-blue-400 font-semibold"
        href="https://github.com/ilialyl/firefly/releases/latest"
        target="_blank"
        rel="noopener noreferrer">Linux (From Source)</a
      >
      <br />
      <br />
    </p>
  </div>
  <div class="md:landscape:w-1/2">
    <Carousel items={2}>
      <li>
        <a
          href="projects/firefly_v0-7-0.gif"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="./projects/firefly_v0-7-0.gif" /></a
        >
      </li>
      <li>
        <a
          href="projects/firefly_structure.png"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="./projects/firefly_structure.png" /></a
        >
      </li>
    </Carousel>
  </div>
</div>
