---
import ProjectCard from "./ProjectCard.astro";
---

<ProjectCard
  title="VisualLog"
  shortDesc="A GUI-based text logging app."
  images={[
    "projects/visual_log_1.png",
    "projects/visual_log_2.png",
    "projects/visual_log_3.png",
  ]}
>
  <ul class="font-bold text-blue-400 list-disc list-inside">
    <li>Commits: 2024-07-24 to 2024-08-23</li>
  </ul>
  <p>
    Built in C# using WPF. This project shows my application of Object-Oriented
    Programming (OOP) and Model–View–ViewModel GUI architecture (MVVM).
    <br /><br />
    A string of characters can be input and saved, alongside the current time into
    a json file with customizable save path. The messages stored in said file will
    then be displayed through GUI.
  </p>

  <p>
    For more details, visit <a
      class="text-blue-400 font-semibold"
      href="https://github.com/ilialyl/VisualLog"
      target="_blank"
      rel="noopener noreferrer">VisualLog</a
    >
  </p>
</ProjectCard>
