@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer components {
    .cert-img {
        @apply h-45 bg-white overflow-hidden flex justify-center items-center;
    }

    .cert-card {
        @apply border-solid flex flex-col justify-start gap-7 lg:justify-center text-white w-full p-5 md:w-80 shrink-0;
    }
}
