@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

@layer components {
    .profile-field {
        @apply py-3 text-white font-semibold pl-4;
    }

    .profile-grid {
        @apply grid grid-cols-[1fr_3fr] gap-x-1 md:gap-y-[0.5vh] portrait:gap-y-[2vh] divide-y-2 divide-blue-500 text-sm md:text-base w-1/4;
    }
}
