@layer theme, base, components, utilities;
@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);

img {
    @apply object-scale-down transition-all duration-300 ease-in-out lg:hover:scale-102 cursor-pointer;
}
