---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import Preface from "../components/Preface.astro";
import Profile from "../components/Profile.astro";
import Contact from "../components/Contact.astro";
import Education from "../components/Education.astro";
import Projects from "../components/Projects.astro";
import Certificates from "../components/Certificates.astro";
---

<html
    lang="en"
    class="scroll-smooth no-scrollbar md:h-screen snap-y snap-mandatory overflow-y-auto portrait:snap-mandatory portrait:snap-none"
    id="page"
>
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="./favicon.png" } />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Portfolio</title>
    </head>
    <body>
        <header>
            <NavBar />
        </header>
        <main class="mr-12">
            <Preface />
            <Profile />
            <Education />
            <Projects />
            <Certificates />
            <Contact />
        </main>
        <div
            id="toggle-snap"
            class="fixed left-0 bottom-0 bg-blue-300 cursor-pointer p-1 text-xs hidden md:block hover:bg-black hover:text-blue-500 font-bold prevent-select"
        >
            Toggle snap
        </div>
    </body>
</html>

<script>
    import AOS from "aos";
    import "aos/dist/aos.css";
    import { toggleSnap } from "../../public/scripts/index.js";

    toggleSnap("toggle-snap", "page");

    AOS.init({
        disable: "mobile",
    });
</script>
