---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import Preface from "../components/Preface.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import Education from "../components/Education.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="./favicon.png" } />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Portfolio</title>
    </head>
    <body>
        <header>
            <NavBar />
        </header>
        <main class="m-7 mr-15 md:mx-auto md:max-w-3xl">
            <h1 id="preface">Preface</h1>
            <Preface />
        </main>
        <About id="about" />
        <Education />
        <main class="m-7 mr-15 md:mx-auto md:max-w-3xl"></main>
        <Contact />
    </body>
</html>
