---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
import Preface from "../components/Preface.astro";
import Profile from "../components/Profile.astro";
import Contact from "../components/Contact.astro";
import Education from "../components/Education.astro";
import SchoolProjects from "../components/SchoolProjects.astro";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/png" href="./favicon.png" } />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Portfolio</title>
    </head>
    <body>
        <header>
            <NavBar />
        </header>
        <main class="mr-12">
            <Preface />
            <Profile />
            <Education  />
            <SchoolProjects  />
            <Contact  />
        </main>
    </body>
</html>
