---
import "../styles/global.css";
import "../styles/swiper.css";
import SwipeText from "./SwipeText.astro";

import THM from "./certs/THM.astro";
import IELTS from "./certs/IELTS.astro";
import Diploma from "./certs/Diploma.astro";
import Outstanding from "./certs/Outstanding.astro";
---

<section id="certs" class="bg-stone-900 pb-5 text-white md:snap-center">
    <div>
        <div
            class="flex flex-row justify-center md:space-x-10 items-center md:pb-15 md:pt-10"
        >
            <h2 class="py-10 text-center prevent-select">
                C E R T I F I C A T E S
            </h2>
        </div>
        <div
            id="cert-container"
            class="card-container md:gap-10 md:justify-center md:items-start no-scrollbar md:mb-20"
            data-aos="fade-right"
            data-aos-duration="2000"
            data-aos-once="true"
        >
            <THM />
            <IELTS />
            <Diploma />
            <Outstanding />
        </div>
    </div>
    <SwipeText />
</section>

<script>
    import { swiper } from "../../public/scripts/swiper.js";

    // Get scrollable area
    const container = document.getElementById("cert-container");
    // Get buttons
    const next = document.getElementById("next-cert");
    const prev = document.getElementById("prev-cert");

    swiper(container, next, prev, ".cert-card");
</script>
