---
import "../styles/global.css";
import "../styles/swiper.css";
import SwipeText from "./SwipeText.astro";
---

<section
    id="certs"
    class="bg-stone-900 pb-5 text-white md:snap-center md:h-screen"
>
    <div>
        <div class="flex flex-row justify-center md:space-x-10 items-center">
            <button
                id="prev-cert"
                class="font-bold text-4xl hidden md:block cursor-pointer bg-white text-black"
                data-aos="zoom-out"
                data-aos-duration="2000">&lt;</button
            >

            <h2 class="py-10 text-center prevent-select">
                C E R T I F I C A T E S
            </h2>

            <button
                id="next-cert"
                class="font-bold text-4xl hidden md:block cursor-pointer bg-white text-black"
                data-aos="zoom-out"
                data-aos-duration="2000">&gt;</button
            >
        </div>
        <div
            id="cert-container"
            class="card-container"
            data-aos="fade-right"
            data-aos-duration="2000"
            data-aos-once="true"
        >
            <div class="cert-card h-200"></div>
            <div class="cert-card"></div>
            <div class="cert-card"></div>
        </div>
    </div>
    <SwipeText />
</section>

<script>
    import { swiper } from "../../public/scripts/swiper.js";

    // Get scrollable area
    const container = document.getElementById("cert-container");
    // Get buttons
    const next = document.getElementById("next-cert");
    const prev = document.getElementById("prev-cert");

    swiper(container, next, prev, ".cert-card");
</script>
