---
import "../styles/global.css";
import { Icon } from "astro-icon/components";
---

<div class="bg-stone-950 p-7 mr-10">
    <ul class="text-white flex gap-25 justify-center">
        <li class="flex gap-3">
            <Icon name="mail" class="size-7" />
            lynzies**@sl.me
        </li>
        <li class="flex gap-3">
            <Icon name="phone" class="size-7" />
            +7z837fjv83a
        </li>
        <li class="flex gap-3">
            <a href="https://github.com/cyandizy">
                <Icon name="github" class="size-7" /></a
            >
            lyns0
        </li>
    </ul>
</div>
