---
import "../styles/global.css";
import { Icon } from "astro-icon/components";
---

<section id="contact" class="bg-stone-950 p-7 overflow-x-auto md:snap-end">
  <ul
    class="text-white flex gap-5 justify-start md:gap-25 md:justify-center whitespace-nowrap"
  >
    <li class="flex gap-3 items-center">
      <Icon name="mail" class="w-7 h-7" />
      <span>portfolio.vaguely860@passinbox.com</span>
    </li>

    <li class="flex gap-3 items-center">
      <a
        href="https://github.com/ilialyl"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name="github" class="w-7 h-7" /></a
      >
      <a
        href="https://github.com/ilialyl"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>Profile</span>
      </a>
    </li>

    <li class="flex gap-3 items-center">
      <a
        href="https://github.com/ilialyl/sit-portfolio"
        target="_blank"
        rel="noopener noreferrer"
      >
        <Icon name="github" class="w-7 h-7" /></a
      >
      <a
        href="https://github.com/ilialyl/sit-portfolio"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span>Source</span>
      </a>
    </li>
    <li class="min-w-2 md:hidden"></li>
  </ul>
</section>
