---
import "../styles/global.css";
import "../styles/education.css";
---

<div
    class="absolute w-1/2 h-10 bg-gray-300 mt-14 rounded-tr-4xl rounded-br-4xl"
>
</div>
<h2 class="relative mt-10 ml-7 md:ml-10">EDUCATION</h2>

<div class="school-div">
    <p class="text-white font-mono">Unnamed Primary School</p>
</div>

<div class="school-div">
    <p class="text-white font-mono text-right">Unnamed Middle School</p>
</div>

<div class="school-div">
    <p class="text-white font-mono">Unnamed High School</p>
</div>

<div class="school-div">
    <p class="text-white font-mono text-right">Unnamed College</p>
</div>
