---
import "../styles/global.css";
import "../styles/education.css";
---

<div
    class="absolute w-1/2 h-10 bg-gray-300 mt-14 rounded-tr-4xl rounded-br-4xl"
>
</div>

<h2 class="relative mt-10 ml-7 md:ml-10">EDUCATION</h2>

<section class="py-10 px-3 flex flex-col gap-10 md:p-14">
    <div class="school-card">
        <p class="text-white font-mono">Unnamed Primary School</p>
        <p class="text-white font-mono">Grade 1-6</p>
        <p class="text-white font-mono">GPAX 3.92</p>
    </div>

    <div class="school-card">
        <p class="text-white font-mono text-right">Unnamed Middle School</p>
        <p class="text-white font-mono text-right">Grade 7-9</p>
        <p class="text-white font-mono text-right">GPAX 3.87</p>
    </div>

    <div class="school-card">
        <p class="text-white font-mono">Unnamed High School</p>
        <p class="text-white font-mono">Grade 10-12</p>
        <p class="text-white font-mono">GPAX 3.97</p>
    </div>

    <div class="school-card">
        <p class="text-white font-mono text-right">Unnamed College</p>
        <p class="text-white font-mono text-right">
            Diploma of Information and Technology
        </p>
        <p class="text-white font-mono text-right">CWA 82.63</p>
    </div>
</section>
