---
import "../styles/global.css";
import "../styles/education.css";
---

<section id="education" class="md:h-screen md:snap-center flex flex-col">
    <div class="h-max w-full landscape:absolute">
        <div
            class="absolute w-1/2 h-10 bg-gray-300 mt-14 md:mt-24 rounded-tr-4xl rounded-br-4xl"
            data-aos="fade-right"
            data-aos-duration="3000"
            data-aos-easing="ease-out"
        >
        </div>

        <h2
            class="relative pt-10 pl-7 md:pl-20 md:pt-20 prevent-select portrait:mb-10"
            data-aos="fade-up"
            data-aos-duration="3000"
            data-aos-easing="ease-out"
        >
            EDUCATION
        </h2>
    </div>
    <div
        class="flex flex-col gap-10 mx-2 md:flex-row justify-evenly flex-wrap landscape:items-center grow"
    >
        <div class="animate-enlarge">
            <a
                href="http://www.sirinusorn-school.com/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <p
                    class="school-years"
                    data-aos="fade-zoom-in"
                    data-aos-delay="1500"
                    data-aos-duration="2000"
                >
                    2012-2018
                </p>
                <div
                    class="school-card"
                    data-aos="fade-up"
                    data-aos-delay="100"
                    data-aos-duration="2000"
                >
                    <div class="img-section">
                        <img
                            class="object-contain max-w-full max-h-full"
                            src="./education/school_1.png"
                        />
                    </div>
                    <div class="text-section">
                        <p class="text-white font-mono font-bold">
                            Sirinusornvithaya School
                        </p>
                        <p class="text-white font-mono">Grade 1-6</p>
                        <p class="text-white font-mono">GPAX 3.92</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="animate-enlarge">
            <a
                href="https://www.sk-thonburi.ac.th/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <p
                    class="school-years"
                    data-aos="fade-zoom-in"
                    data-aos-delay="2000"
                    data-aos-duration="2000"
                >
                    2018-2021
                </p>
                <div
                    class="school-card"
                    data-aos="fade-down"
                    data-aos-delay="300"
                    data-aos-duration="2000"
                >
                    <div class="img-section">
                        <img
                            class="object-contain max-w-full max-h-full"
                            src="./education/school_2.png"
                        />
                    </div>
                    <div class="text-section">
                        <p class="text-white font-mono font-bold">
                            Suankularb Wittayalai Thonburi
                        </p>
                        <p class="text-white font-mono">Mini English Program</p>
                        <p class="text-white font-mono">Grade 7-9</p>
                        <p class="text-white font-mono">GPAX 3.87</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="animate-enlarge">
            <a
                href="https://www.sk-thonburi.ac.th/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <p
                    class="school-years"
                    data-aos="fade-zoom-in"
                    data-aos-delay="2500"
                    data-aos-duration="2000"
                >
                    2021-2024
                </p>
                <div
                    class="school-card"
                    data-aos="fade-up"
                    data-aos-delay="500"
                    data-aos-duration="2000"
                >
                    <div class="img-section">
                        <img
                            class="object-contain max-w-full max-h-full"
                            src="./education/school_2.png"
                        />
                    </div>
                    <div class="text-section">
                        <p class="text-white font-mono font-bold">
                            Suankularb Wittayalai Thonburi
                        </p>
                        <p class="text-white font-mono">
                            Science - Mathematics
                        </p>
                        <p class="text-white font-mono">Grade 10-12</p>
                        <p class="text-white font-mono">GPAX 3.97</p>
                    </div>
                </div>
            </a>
        </div>

        <div class="animate-enlarge">
            <a
                href="https://www.curtincollege.edu.au/"
                target="_blank"
                rel="noopener noreferrer"
            >
                <p
                    class="school-years"
                    data-aos="fade-zoom-in"
                    data-aos-delay="3000"
                    data-aos-duration="2000"
                >
                    2024-2025
                </p>
                <div
                    class="school-card"
                    data-aos="fade-down"
                    data-aos-delay="700"
                    data-aos-duration="2000"
                >
                    <div class="img-section">
                        <img
                            class="object-contain max-w-full max-h-full"
                            src="./education/school_3.png"
                        />
                    </div>
                    <div class="text-section">
                        <p class="text-white font-mono font-bold">
                            Curtin College
                        </p>
                        <p class="text-white font-mono">
                            Diploma of Information and Technology
                        </p>
                        <p class="text-white font-mono">CWA 82.63</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
