---
import "../styles/global.css";
import "../styles/education.css";
---

<section id="education">
    <div
        class="absolute w-1/2 h-10 bg-gray-300 mt-14 rounded-tr-4xl rounded-br-4xl"
        data-aos="fade-right"
        data-aos-duration="3000"
        data-aos-easing="ease-out"
    >
    </div>

    <h2 class="relative pt-10 pl-7 md:pl-10 prevent-select">EDUCATION</h2>

    <div class="py-10 px-3 flex flex-col gap-10 md:p-14">
        <div
            class="school-card"
            data-aos="fade-left"
            data-aos-delay="100"
            data-aos-duration="2000"
            data-aos-once="true"
        >
            <p class="text-white font-mono">Unnamed Primary School</p>
            <p class="text-white font-mono">Grade 1-6</p>
            <p class="text-white font-mono">GPAX 3.92</p>
        </div>

        <div
            class="school-card"
            data-aos="fade-right"
            data-aos-delay="300"
            data-aos-duration="2000"
            data-aos-once="true"
        >
            <p class="text-white font-mono text-right">Unnamed Middle School</p>
            <p class="text-white font-mono text-right">Grade 7-9</p>
            <p class="text-white font-mono text-right">GPAX 3.87</p>
        </div>

        <div
            class="school-card"
            data-aos="fade-left"
            data-aos-delay="500"
            data-aos-duration="2000"
            data-aos-once="true"
        >
            <p class="text-white font-mono">Unnamed High School</p>
            <p class="text-white font-mono">Grade 10-12</p>
            <p class="text-white font-mono">GPAX 3.97</p>
        </div>

        <div
            class="school-card"
            data-aos="fade-right"
            data-aos-delay="700"
            data-aos-duration="2000"
            data-aos-once="true"
        >
            <p class="text-white font-mono text-right">Unnamed College</p>
            <p class="text-white font-mono text-right">
                Diploma of Information and Technology
            </p>
            <p class="text-white font-mono text-right">CWA 82.63</p>
        </div>
    </div>
</section>
