---
import "../styles/global.css";
import "../styles/nav-bar.css";
---

<nav
    class="fixed right-0 top-0 z-100 h-full text-white bg-black px-5 py-1 [writing-mode:sideways-lr]"
>
    <ul
        class="font-mono overflow-x-auto whitespace-nowrap text-1xl font-bold flex flex-row-reverse items-center gap-5 justify-start cursor-default no-scrollbar"
    >
        <li class="text-4xl font-bold prevent-select">ilialyl</li>
        <li class="nav-element prevent-select">
            <a href="#preface">
                <span class="en-content">preface</span>
                <ruby class="jp-content hidden">
                    最初<rt class="text-white">さいしょ</rt>
                </ruby>
            </a>
        </li>
        <li class="nav-element prevent-select">
            <a href="#profile">
                <span class="en-content">profile</span>
                <span class="jp-content hidden">プロフィール</span>
            </a>
        </li>
        <li class="nav-element prevent-select">
            <a href="#education">
                <span class="en-content">education</span>
                <ruby class="jp-content hidden">
                    学歴<rt class="text-white">がくれき</rt>
                </ruby>
            </a>
        </li>
        <li class="nav-element prevent-select">
            <a href="#projects">
                <span class="en-content">projects</span>
                <span class="jp-content hidden">プロジェクト</span>
            </a>
        </li>
        <li class="nav-element prevent-select">
            <a href="#certs">
                <span class="en-content">certificates</span>
                <ruby class="jp-content hidden"
                    >証<rt class="text-white">しょう</rt>明書<rt
                        class="text-white">めいしょ</rt
                    ></ruby
                >
            </a>
        </li>
        <li class="prevent-select">
            <a href="#contact">
                <span class="en-content">contact</span>
                <ruby class="jp-content hidden">
                    連絡先<rt>れんらくさき</rt>
                </ruby>
            </a>
        </li>
    </ul>
</nav>
