---
import "../styles/global.css";
---

<nav
    class="fixed right-0 top-0 h-full text-white bg-black px-5 py-1 [writing-mode:sideways-lr]"
>
    <ul
        class="font-mono overflow-x-auto whitespace-nowrap text-1xl font-bold flex flex-row-reverse items-center gap-5 justify-start cursor-default no-scrollbar"
    >
        <li class="text-4xl font-bold">lyns0</li>
        <li class="text-blue-600">
            <a href="#preface">preface</a>
        </li>
        <li class="text-blue-600">
            <a href="#profile">profile</a>
        </li>
        <li class="text-blue-600">
            <a href="#education">education</a>
        </li>
        <li class="text-blue-600">
            <a href="#school">school_projects</a>
        </li>
        <li class="text-blue-600">
            <a href="#personal">personal_projects</a>
        </li>
        <li class="text-blue-600">
            <a href="#certs">certificates</a>
        </li>
        <li>
            <a href="#contact">contact</a>
        </li>
    </ul>
</nav>
