---
import "../styles/global.css";
---

<nav
    class="fixed right-0 top-0 h-full text-white bg-black px-5 py-1 [writing-mode:sideways-lr]"
>
    <ul
        class="font-mono overflow-x-auto whitespace-nowrap text-1xl font-bold flex flex-row-reverse items-center gap-5 justify-start hover:text-gray-200 cursor-default no-scrollbar"
    >
        <li class="text-4xl font-bold">lyns0</li>
        <li class="text-blue-600 hover:text-blue-500">
            <a href="/sit-portfolio/#preface">preface</a>
        </li>
        <li class="text-blue-600 hover:text-blue-500">
            <a href="/sit-portfolio">profile</a>
        </li>
        <li class="text-blue-600 hover:text-blue-500">
            <a href="/sit-portfolio">education</a>
        </li>
        <li class="text-blue-600 hover:text-blue-500">
            <a href="/sit-portfolio">school_projects</a>
        </li>
        <li class="text-blue-600 hover:text-blue-500">
            <a href="/sit-portfolio">personal_projects</a>
        </li>
        <li class="text-blue-600 hover:text-blue-500">
            <a href="/sit-portfolio">certificates</a>
        </li>
    </ul>
</nav>
