---
import "../styles/global.css";
---

<nav
    class="fixed right-0 top-0 h-full text-white bg-black px-5 py-1 [writing-mode:vertical-lr] rotate-180"
>
    <ul
        class="font-mono text-2xl flex items-center gap-5 justify-end hover:text-gray-200 cursor-default"
    >
        <li class="text-blue-600"><a href="/about/">About</a></li>
        <li class="text-blue-600"><a href="/">Home</a></li>
        <li class="text-4xl font-bold">lyns0</li>
    </ul>
</nav>
