---
import "../styles/global.css";
---

<section
    id="preface"
    class="p-7 md:mx-auto md:py-0 lg:p-30 md:h-screen md:snap-center md:flex md:flex-col md:justify-center md:gap-[7vh] lg:gap-0 lg:grid lg:grid-cols-2 lg:grid-rows-1 lg:justify-between lg:items-center md:portrait:flex md:portrait:flex-col md:portrait:justify-center md:portrait:gap-[7vh]"
>
    <div class="flex flex-none items-center justify-start md:hidden">
        <h2
            class="mb-3 text-center prevent-select"
            data-aos="fade-down"
            data-aos-duration="3000"
        >
            INTRODUCTION
        </h2>
    </div>
    <div
        class="md:flex md:flex-col md:justify-between md:items-start gap-y-10 hidden"
    >
        <p class="prevent-select md:text-7xl lg:text-8xl font-semibold">
            唯イズミ
        </p>
        <p class="hidden md:block md:text-3xl lg:text-4xl">
            An Aspiring CS student with strong foundation.
        </p>
    </div>
    <div>
        <blockquote
            class="mt-4 ml-2 mr-1 md:m-0 md:text-base/10"
            data-aos="fade-left"
            data-aos-duration="3000"
            data-aos-mirror="true"
        >
            <p class="text-4xl md:inline font-bold hidden">
                "It all occurred to me when I was 16 years old.
            </p>
            <p class="inline md:hidden">
                It all occurred to me when I was 16 years old.
            </p>
            Having chosen an “Introduction to Web Programming” class, I came into
            a realization that art of programming is not out of my reach. From there
            I continued to explore various topics, from scripting languages like
            Python, to low level languages such as C and Rust. I could not and still
            cannot imagine any other fields I can enjoy other than the field of Computer
            Science. After high school graduation, I took a gap year to learn about
            the outside of Thailand. I went to Curtin College in Perth, Australia
            to study Diploma of Information and Technology (Computer Science), where
            I faced multiple challenges and learned from them. As I have completed
            my diploma, I have been continuously learning new topics, such as Cybersecurity
            and Game Development. All of this is to show that, I, indeed, take this
            path of Computer Science seriously. For now I look forward to studying
            at School of Information and Technology (SIT) at King Mongkut's University
            of Technology Thonburi (KMUTT) where I originally intended to attend.
            <p class="md:inline hidden">"</p>
            <footer class="mt-10 md:hidden">- <cite>唯イズミ</cite></footer>
        </blockquote>
    </div>
</section>
