---
import "../styles/global.css";
---

<section id="profile" class="bg-stone-950 p-5 pt-5">
    <h2 class="text-white mb-3 text-center">P R O F I L E</h2>
    <div class="w-full flex justify-center">
        <ul
            class="grid grid-cols-[auto_1fr] gap-x-6 gap-y-1 divide-y-2 divide-blue-500 text-sm md:text-base"
        >
            <li class="py-3 text-white font-semibold">Name</li>
            <li class="py-3 text-white font-semibold">唯イズミ</li>

            <li class="py-3 text-white font-semibold">Nickname</li>
            <li class="py-3 text-white font-semibold">Lynzies</li>

            <li class="py-3 text-white font-semibold">Date of Birth</li>
            <li class="py-3 text-white font-semibold">December 9, 2174</li>

            <li class="py-3 text-white font-semibold">Blood Type</li>
            <li class="py-3 text-white font-semibold">O</li>

            <li class="py-3 text-white font-semibold">Race</li>
            <li class="py-3 text-white font-semibold">-</li>

            <li class="py-3 text-white font-semibold">Nationality</li>
            <li class="py-3 text-white font-semibold">New Center</li>

            <li class="py-3 text-white font-semibold">Religion</li>
            <li class="py-3 text-white font-semibold">Nil</li>

            <li class="py-3 text-white font-semibold">Address</li>
            <li class="py-3 text-white font-semibold">
                New Center, NUSA 17a4e, New Earth.
            </li>

            <li class="py-3 text-white font-semibold">Hobbies</li>
            <li class="py-3 text-white font-semibold">
                Gaming, exercising, drawing, singing, language learning,
                programming
            </li>

            <li class="py-3 text-white font-semibold">Abilities</li>
            <li class="py-3 text-white font-semibold">
                English, Japanese, staying active, eating clean, experienced in
                Linux
            </li>

            <li class="py-3 text-white font-semibold">Operating Systems</li>
            <li class="py-3 text-white font-semibold">
                Windows 11, Fedora KDE spin
            </li>

            <li></li>
        </ul>
    </div>
</section>
