---
import "../styles/global.css";
import "../styles/profile.css";
---

<section
    id="profile"
    class="bg-stone-950 p-5 pt-5 md:py-10"
    data-aos="fade-up"
    data-aos-duration="3000"
>
    <h2 class="text-white mb-3 text-center prevent-select">P R O F I L E</h2>
    <div class="w-full flex justify-center">
        <ul
            class="grid grid-cols-[auto_1fr] gap-x-6 gap-y-1 divide-y-2 divide-blue-500 text-sm md:text-base"
        >
            <li class="profile-field">Name</li>
            <li class="profile-field">唯イズミ</li>

            <li class="profile-field">Nickname</li>
            <li class="profile-field">Lynzies</li>

            <li class="profile-field">Date of Birth</li>
            <li class="profile-field">December 9, 2174</li>

            <li class="profile-field">Blood Type</li>
            <li class="profile-field">O</li>

            <li class="profile-field">Race</li>
            <li class="profile-field">-</li>

            <li class="profile-field">Nationality</li>
            <li class="profile-field">New Center</li>

            <li class="profile-field">Address</li>
            <li class="profile-field">New Center, NUSA 17a4e, New Earth.</li>

            <li class="profile-field">Hobbies</li>
            <li class="profile-field">
                Gaming, exercising, drawing, singing, language learning,
                programming
            </li>

            <li class="profile-field">Abilities</li>
            <li class="profile-field">
                English, Japanese, staying active, eating clean, being
                experienced in Linux
            </li>

            <li class="profile-field">OSes</li>
            <li class="profile-field">Windows 11, Fedora</li>

            <li></li>
        </ul>
    </div>
</section>
