---
import "../styles/global.css";
import "../styles/profile.css";
---

<section
    id="profile"
    class="bg-stone-950 p-5 pt-5 md:py-10 md:snap-end flex flex-col items-center gap-10 2xl:gap-15 relative"
>
    <div
        class="toggle-language-btn absolute top-1 right-1 md:top-5 md:right-5 prevent-select cursor-pointer bg-white text-black p-0.5 font-bold portrait:[writing-mode:sideways-lr] landscape:[writing-mode:horizontal-tb]"
        data-aos="zoom-out"
        data-aos-delay="200"
        data-aos-duration="2000"
    >
        JP
    </div>
    <div class="flex flex-none items-center justify-center lg:h-1/12">
        <h2
            class="en-content text-white text-center prevent-select"
            data-aos="fade-down"
            data-aos-duration="3000"
        >
            P R O F I L E
        </h2>
        <h2
            class="hidden jp-content text-white text-center prevent-select"
            data-aos="fade-down"
            data-aos-duration="3000"
        >
            D A T A
        </h2>
    </div>
    <div
        class="w-full flex justify-center landscape:items-start portrait:items-center landscape:flex-row portrait:flex-col landscape:gap-x-5"
        data-aos="fade-right"
        data-aos-duration="3000"
    >
        <ul class="profile-grid">
            <li class="profile-field">
                <p class="en-content">Name</p>
                <p class="jp-content hidden">氏名</p>
            </li>
            <li class="profile-field">
                <p class="en-content">Komes Pispol</p>
                <p class="jp-content hidden">中井イリア</p>
            </li>

            <li class="profile-field">
                <p class="en-content">Nationality</p>
                <p class="jp-content hidden">国籍</p>
            </li>
            <li class="profile-field">
                <p class="en-content">Thailand</p>
                <p class="jp-content hidden">タイ</p>
            </li>

            <li class="profile-field">
                <p class="en-content">Hobbies</p>
                <p class="jp-content hidden">興味</p>
            </li>
            <li class="profile-field">
                <ul class="en-content list-disc list-inside">
                    <li>Video games</li>
                    <li>Exercise</li>
                    <li>Singing</li>
                    <li>Language learning</li>
                    <li>Programming</li>
                </ul>
                <ul class="jp-content hidden list-disc list-inside">
                    <li>テレビゲーム</li>
                    <li>運動</li>
                    <li>歌唱</li>
                    <li>語学学習</li>
                    <li>プログラミング</li>
                </ul>
            </li>
            <li class="profile-field">
                <p class="en-content">Abilities</p>
                <p class="jp-content hidden">特技</p>
            </li>
            <li class="profile-field">
                <ul class="en-content list-disc list-inside">
                    <li>English</li>
                    <li>Japanese</li>
                    <li>Staying active</li>
                    <li>Eating clean</li>
                    <li>Linux</li>
                </ul>
                <ul class="jp-content hidden list-disc list-inside">
                    <li>英語</li>
                    <li>日本語</li>
                    <li>よく運動をすること</li>
                    <li>体にいい食べ物おみ</li>
                    <li>Linux</li>
                </ul>
            </li>
            <li class="profile-field landscape:hidden">
                <p class="en-content">OSes</p>
                <p class="jp-content hidden">OS</p>
            </li>
            <li class="profile-field landscape:hidden">
                <ul class="list-disc list-inside">
                    <li>Windows 11</li>
                    <li>Fedora</li>
                </ul>
            </li>

            <li class="profile-field landscape:hidden">
                <p class="en-content">Programming Languages</p>
                <p class="jp-content hidden">プログラミング言語</p>
            </li>
            <li class="profile-field landscape:hidden">
                <ul class="list-disc list-inside">
                    <li>Rust</li>
                    <li>Python</li>
                    <li>C</li>
                    <li>C#</li>
                </ul>
            </li>
            <li></li>
        </ul>
        <ul class="profile-grid portrait:hidden">
            <li class="profile-field">
                <p class="en-content">OSes</p>
                <p class="jp-content hidden">OS</p>
            </li>
            <li class="profile-field">
                <ul class="list-disc list-inside">
                    <li>Windows 11</li>
                    <li>Fedora</li>
                </ul>
            </li>

            <li class="profile-field">
                <p class="en-content">Programming Languages</p>
                <p class="jp-content hidden">プログラミング言語</p>
            </li>
            <li class="profile-field">
                <ul class="list-disc list-inside">
                    <li>Rust</li>
                    <li>Python</li>
                    <li>C</li>
                    <li>C#</li>
                </ul>
            </li>
            <li></li>
        </ul>
    </div>
</section>
