---
import "../styles/global.css";
import "../styles/profile.css";
---

<section
    id="profile"
    class="bg-stone-950 p-5 pt-5 md:py-10 md:snap-end flex flex-col items-center gap-15"
>
    <div class="flex flex-none items-center justify-center lg:h-1/12">
        <h2
            class="text-white text-center prevent-select"
            data-aos="fade-down"
            data-aos-duration="3000"
        >
            P R O F I L E
        </h2>
    </div>
    <div
        class="w-full flex justify-center items-center"
        data-aos="fade-right"
        data-aos-duration="3000"
    >
        <ul
            class="grid grid-cols-[auto_1fr] gap-x-6 md:gap-y-[0.5vh] portrait:gap-y-[2vh] divide-y-2 divide-blue-500 text-sm md:text-base"
        >
            <li class="profile-field">Name</li>
            <li class="profile-field">Komes Pispol</li>

            <li class="profile-field">Nationality</li>
            <li class="profile-field">Thailand</li>

            <li class="profile-field">Hobbies</li>
            <li class="profile-field">
                Gaming, exercising, drawing, singing, language learning,
                programming
            </li>

            <li class="profile-field">Abilities</li>
            <li class="profile-field">
                English, Japanese, staying active, eating clean, being
                experienced in Linux
            </li>

            <li class="profile-field">OSes</li>
            <li class="profile-field">Windows 11, Fedora</li>

            <li class="profile-field">Familiar Programming Languages</li>
            <li class="profile-field">Rust, Python, C, C#</li>

            <li></li>
        </ul>
    </div>
</section>
