---
import "../styles/global.css";
import "../styles/swiper.css";
import "../styles/white-section.css";
import { Carousel } from "webcoreui/astro";

import Arino from "./projects/Arino.astro";
import Dsa from "./projects/DSA.astro";
import Firefly from "./projects/Firefly.astro";
import VisualLog from "./projects/VisualLog.astro";
import Fedora from "./projects/Fedora.astro";
import Isen from "./projects/ISEN.astro";
import FedoraServer from "./projects/FedoraServer.astro";
import SwipeText from "./SwipeText.astro";
---

<section
  id="projects"
  class="text-white mt-10 relative h-screen lg:h-screen md:snap-start flex flex-col pb-10"
>
  <button
    id="prev-project"
    class="top-1/2 left-7 z-10 absolute text-white bg-black md:portrait:bg-white md:portrait:text-black font-bold text-4xl hidden md:block cursor-pointer transition-opacity duration-75 !opacity-100"
    data-aos="zoom-out"
    data-aos-duration="2000"
    >&lt;
  </button>
  <button
    id="next-project"
    class="top-1/2 right-7 z-10 absolute text-white bg-black md:portrait:bg-white md:portrait:text-black font-bold text-4xl hidden md:block cursor-pointer transition-opacity duration-75 !opacity-100"
    data-aos="zoom-out"
    data-aos-duration="2000"
    >&gt;
  </button>
  <div class="h-max w-full landscape:absolute">
    <div
      class="white-sect-heading-decor"
      data-aos="fade-right"
      data-aos-duration="3000"
      data-aos-easing="ease-out"
    >
    </div>

    <h1
      class="text-black white-sect-heading prevent-select"
      data-aos="fade-up"
      data-aos-duration="3000"
      data-aos-easing="ease-out"
    >
      PROJECTS
      <br class="hidden portrait:block" />
      <ruby class="text-lg portrait:text-sm portrait:md:text-base">
        プロジェクト
      </ruby>
    </h1>
  </div>

  <div
    id="project-container"
    class="card-container no-scrollbar landscape:items-center grow h-fit"
    data-aos="fade-right"
    data-aos-duration="2000"
    data-aos-once="true"
  >
    <Firefly />
    <Dsa />
    <Arino />
    <VisualLog />
    <Fedora />
    <Isen />
    <FedoraServer />
  </div>
</section>
<SwipeText />

<script>
  import { swiper } from "../../public/scripts/swiper.js";

  // Get scrollable area
  const container = document.getElementById("project-container");
  // Get buttons
  const next = document.getElementById("next-project");
  const prev = document.getElementById("prev-project");

  swiper(container, next, prev, ".project-card");
</script>
