---
import "../styles/global.css";
import "../styles/swiper.css";
import { Carousel } from "webcoreui/astro";

import Arino from "./projects/Arino.astro";
import Dsa from "./projects/DSA.astro";
import VisualLog from "./projects/VisualLog.astro";
import Fedora from "./projects/Fedora.astro";
import Isen from "./projects/ISEN.astro";
import FedoraServer from "./projects/FedoraServer.astro";
import SwipeText from "./SwipeText.astro";
---

<section
    id="projects"
    class="text-white mt-5 md:mt-10 relative md:h-[110vh] lg:h-screen md:snap-start"
>
    <div class="flex flex-row justify-center md:space-x-10 items-center">
        <button
            id="prev-project"
            class="text-white font-bold text-4xl hidden md:block cursor-pointer bg-black my-10 transition-opacity duration-75 !opacity-100"
            data-aos="zoom-out"
            data-aos-duration="2000">&lt;</button
        >

        <h2 class="text-black py-10 text-center prevent-select">
            P R O J E C T S
        </h2>

        <button
            id="next-project"
            class="text-white font-bold text-4xl hidden md:block cursor-pointer bg-black my-10 transition-opacity duration-75 !opacity-100"
            data-aos="zoom-out"
            data-aos-duration="2000">&gt;</button
        >
    </div>

    <div
        id="project-container"
        class="card-container"
        data-aos="fade-left"
        data-aos-duration="2000"
        data-aos-once="true"
    >
        <Arino />
        <Dsa />
        <VisualLog />
        <Fedora />
        <Isen />
        <FedoraServer />
    </div>
</section>
<SwipeText />

<script>
    import { swiper } from "../../public/scripts/swiper.js";

    // Get scrollable area
    const container = document.getElementById("project-container");
    // Get buttons
    const next = document.getElementById("next-project");
    const prev = document.getElementById("prev-project");

    swiper(container, next, prev, ".project-card");
</script>
