---
import "../styles/global.css";
import "../styles/swiper.css";
import { Carousel } from "webcoreui/astro";
---

<section id="projects" class="text-white mt-5 md:mt-10 relative">
    <div class="flex flex-row justify-center md:space-x-10 items-center">
        <button
            id="prev-project"
            class="text-white font-bold text-4xl hidden md:block cursor-pointer bg-black my-10 transition-opacity duration-300"
            data-aos="zoom-out"
            data-aos-duration="2000">&lt;</button
        >

        <h2 class="text-black py-10 text-center prevent-select">
            P R O J E C T S
        </h2>

        <button
            id="next-project"
            class="text-white font-bold text-4xl hidden md:block cursor-pointer bg-black my-10"
            data-aos="zoom-out"
            data-aos-duration="2000">&gt;</button
        >
    </div>

    <div id="project-container" class="card-container">
        <div id="arino" class="project-card">
            <div class="space-y-4 2xl:w-[120vw]">
                <h3 class="font-bold">Arino</h3>
                <h4 class="font-bold text-gray-400">
                    An ingredient inventory management tool
                </h4>
                <ul class="font-bold text-blue-400 list-disc list-inside">
                    <li>First Commit: 2024-08-31</li>
                    <li>Most Recent Commit: 2025-06-14</li>
                </ul>
                <p>
                    Built in Rust in a Unix-style command-line interface to
                    integrate with other CLI tools such as grep and shell
                    pipelines.
                    <br /><br />
                    The data is stored in a local SQLite database and can be automatically
                    synced to Cloud storage using Dropbox API for portability. It
                    allows manual data updates and dish planning based on what ingredients
                    you currently have.
                </p>

                <p>
                    More info available at the <a
                        class="text-blue-400 font-semibold"
                        href="https://github.com/cyandizy/Arino"
                        target="_blank"
                        rel="noopener noreferrer">project repo</a
                    >
                </p>
            </div>
            <div>
                <Carousel items={3}>
                    <li><img src="./projects/arino_2.png" /></li>
                    <li><img src="./projects/arino_3.png" /></li>
                    <li>
                        <img src="./projects/arino_1.png" />
                    </li>
                </Carousel>
            </div>
        </div>

        <div id="dsa" class="project-card">
            <div class="space-y-4 2xl:w-[100vw]">
                <h3 class="font-bold">Data Structure and Algorithms</h3>
                <h4 class="font-bold text-gray-400">
                    Curtin College's Final Coursework
                </h4>
                <ul class="font-bold text-blue-400 list-disc list-inside">
                    <li>First Commit: 2025-05-04</li>
                    <li>Final Commit: 2025-05-17</li>
                </ul>
                <p>
                    A command-line Bank Account Management System focused on
                    self-implemented data structures in a practical context.
                    While the design followed course guidelines, I used the
                    opportunity to demonstrate my understanding of Data
                    Structure and Algorithm.
                </p>
                <ul class="list-disc list-inside pl-4 space-y-2">
                    <li>
                        I implemented a Binary Search Tree (BST) to store and
                        manage multiple bank accounts.
                    </li>
                    <li>
                        I have a Queue implemented via a Linked List, which is
                        used during BST traversal to save the order of nodes
                        visited.
                    </li>
                    <li>
                        The command-line interface (CLI) can take user commands
                        which each of them has aliases, and command history,
                        improving user experience.
                    </li>
                    <li>I had unit tests fully implemented.</li>
                    <li>The code is modular and scalable.</li>
                </ul>
                <p>
                    For more details, visit <a
                        class="text-blue-400 font-semibold"
                        href="https://github.com/cyandizy/DSAFinal"
                        target="_blank"
                        rel="noopener noreferrer">DSAFinal</a
                    >
                </p>
            </div>
            <div>
                <Carousel items={3}>
                    <li><img src="./projects/dsa_1.png" /></li>
                    <li><img src="./projects/dsa_2.png" /></li>
                    <li><img src="./projects/dsa_3.png" /></li>
                </Carousel>
            </div>
        </div>

        <div id="visuallog" class="project-card">
            <div class="space-y-4 2xl:w-[80vw]">
                <h3 class="font-bold">VisualLog</h3>
                <h4 class="font-bold text-gray-400">
                    A GUI-based text logging app
                </h4>
                <ul class="font-bold text-blue-400 list-disc list-inside">
                    <li>First Commit: 2024-07-24</li>
                    <li>Final Commit: 2024-08-23</li>
                </ul>
                <p>
                    Built in C# using WPF. This project shows my application of
                    Object-Oriented Programming (OOP) and Model–View–ViewModel
                    GUI architecture (MVVM).
                    <br /><br />
                    A string of characters can be input and saved, alongside the
                    current time into a json file with customizable save path. The
                    messages stored in said file will then be displayed through GUI.
                </p>

                <p>
                    For more details, visit <a
                        class="text-blue-400 font-semibold"
                        href="https://github.com/cyandizy/VisualLog"
                        target="_blank"
                        rel="noopener noreferrer">VisualLog</a
                    >
                </p>
            </div>
            <div>
                <Carousel items={3}>
                    <li><img src="./projects/visual_log_1.png" /></li>
                    <li><img src="./projects/visual_log_2.png" /></li>
                </Carousel>
            </div>
        </div>

        <div id="fedora" class="project-card">
            <div class="space-y-4 2xl:w-[50vw]">
                <h3 class="font-bold">Fedora KDE Plasma</h3>
                <h4 class="font-bold text-gray-400">
                    As a daily driver for development and productivity
                </h4>
                <ul class="font-bold text-blue-400 list-disc list-inside">
                    <li>Adoption Date: 2025-02-27</li>
                </ul>
                <p>
                    I familiarized myself with the environment of Linux by
                    dual-booting into Fedora (a distribution of Linux) and do
                    other projects every day.
                </p>

                <ul class="space-y-5">
                    <li>
                        <a
                            class="text-blue-400 font-semibold"
                            href="https://fedoraproject.org/"
                            target="_blank"
                            rel="noopener noreferrer">Fedora Linux</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-blue-400 font-semibold"
                            href="https://www.geeksforgeeks.org/operating-systems/booting-and-dual-booting-of-operating-system/"
                            target="_blank"
                            rel="noopener noreferrer">Dual-Booting</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-blue-400 font-semibold"
                            href="https://kde.org/plasma-desktop/"
                            target="_blank"
                            rel="noopener noreferrer"
                            >KDE Plasma Desktop Environment</a
                        >
                    </li>
                </ul>
            </div>
            <div>
                <Carousel items={1}>
                    <li><img src="./projects/fedora.png" /></li>
                </Carousel>
            </div>
        </div>

        <div id="isen" class="project-card">
            <div class="space-y-4 2xl:w-[140vw]">
                <h3 class="font-bold">Introduction to Software Engineering</h3>
                <h4 class="font-bold text-gray-400">
                    Curtin College's Final Coursework
                </h4>
                <ul class="font-bold text-blue-400 list-disc list-inside">
                    <li>First Commit: 2024-04-26</li>
                    <li>Final Functional Commit: 2024-05-09</li>
                </ul>
                <p>
                    A modular command-line application related to numerology and
                    birthday analysis. While the functionality is intentionally
                    limited, the focus of this coursework was about applying
                    software engineering principles.
                </p>
                <ul class="list-disc list-inside pl-4 space-y-2">
                    <li>
                        The modules and submodules are designed with clear
                        responsibilities.
                    </li>
                    <li>
                        Followed test-driven development, by defining black-box
                        and white-box test cases.
                    </li>
                    <li>
                        The extensive use of version control, taking advantage
                        of branching, merging, and perform commits frequently to
                        track progress.
                    </li>
                    <li>Wrote comprehensive documentation</li>
                </ul>
                <p>
                    For more details, visit <a
                        class="text-blue-400 font-semibold"
                        href="https://github.com/cyandizy/ISENFinal"
                        target="_blank"
                        rel="noopener noreferrer">ISENFinal</a
                    >
                </p>
            </div>
            <div>
                <Carousel items={3}>
                    <li><img src="./projects/isen_1.png" /></li>
                    <li><img src="./projects/isen_2.png" /></li>
                    <li><img src="./projects/isen_3.png" /></li>
                </Carousel>
            </div>
        </div>

        <div id="fedora-server" class="project-card">
            <div class="space-y-4 2xl:w-[280vw]">
                <h3 class="font-bold">Fedora Server</h3>
                <h4 class="font-bold text-gray-400">
                    Turned old laptop into a home server
                </h4>
                <p>
                    I turned an old laptop into a headless server used for
                    hosting stuff, primarily a NextCloud server (Imagine Google
                    Drive, but hosted at home).
                    <br /><br />
                    I manage it solely via SSH after the initialization and use Tailscale
                    (a peer-to-peer VPN) for network. I also keep SSH server secure
                    by allowing only key-pair authentication.
                </p>
                <ul class="space-y-5">
                    <li>
                        <a
                            class="text-blue-400 font-semibold"
                            href="https://nextcloud.com/"
                            target="_blank"
                            rel="noopener noreferrer">NextCloud</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-blue-400 font-semibold"
                            href="https://tailscale.com/"
                            target="_blank"
                            rel="noopener noreferrer">Tailscale</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-blue-400 font-semibold"
                            href="https://en.wikipedia.org/wiki/Secure_Shell"
                            target="_blank"
                            rel="noopener noreferrer">SSH</a
                        >
                    </li>
                    <li>
                        <a
                            class="text-blue-400 font-semibold"
                            href="https://en.wikipedia.org/wiki/Secure_Shell"
                            target="_blank"
                            rel="noopener noreferrer">Key-Pair Authentication</a
                        >
                    </li>
                </ul>
            </div>
            <div>
                <Carousel items={4}>
                    <li><img src="./projects/fedora_server_1.png" /></li>
                    <li><img src="./projects/fedora_server_2.png" /></li>
                    <li><img src="./projects/fedora_server_3.png" /></li>
                    <li><img src="./projects/fedora_server_4.png" /></li>
                </Carousel>
            </div>
        </div>
    </div>
</section>

<script>
    import { swiper } from "../../public/scripts/swiper.js";

    // Get scrollable area
    const container = document.getElementById("project-container");
    // Get buttons
    const next = document.getElementById("next-project");
    const prev = document.getElementById("prev-project");

    swiper(container, next, prev, ".project-card");
</script>
