---
import "../styles/global.css";
import "../styles/projects.css";
---

<section class="bg-stone-950 text-white pb-10">
    <h2 class="ml-7 md:ml-10 py-10">SCHOOL PROJECTS</h2>
    <div
        class="overflow-x-auto flex flex-row snap-x snap-mandatory scroll-smooth gap-40 px-[10vw] no-scrollbar items-center"
    >
        <div class="project-card space-y-4">
            <h3 class="font-bold">Introduction to Software Engineering</h3>
            <h4 class="font-bold text-gray-400">Final Project</h4>
            <p>
                A modular command-line application focused on numerology and
                birthday analysis. Here is why I am proud of it:
            </p>
            <ul class="list-disc list-inside pl-4 space-y-2">
                <li>
                    The modules and submodules are designed with clear
                    responsibilities.
                </li>
                <li>
                    I applied test-driven development, by defining black-box and
                    white-box test cases.
                </li>
                <li>
                    I managed the project using a version control, taking
                    advantage of branching, merging, and perform commits
                    frequently to track progress.
                </li>
                <li>
                    The documentation is the most comprehensive I have ever
                    done.
                </li>
            </ul>
            <p>
                For more details, visit <a
                    class="text-blue-400 font-semibold"
                    href="https://github.com/cyandizy/ISENFinal"
                    target="_blank"
                    rel="noopener noreferrer"
                    >https://github.com/cyandizy/ISENFinal</a
                >
            </p>
        </div>
        <div class="project-card space-y-4">
            <h3 class="font-bold">Data Structure and Algorithms</h3>
            <h4 class="font-bold text-gray-400">Final Project</h4>
            <p>
                A command-line Bank Account Management System focused on self-
                implemented data structures and their applications.
            </p>
            <ul class="list-disc list-inside pl-4 space-y-2">
                <li>
                    I implemented a Binary Search Tree (BST) to store and manage
                    multiple bank accounts.
                </li>
                <li>
                    I have a Queue implemented via a Linked List, which is used
                    during BST traversal to save the order of nodes visited.
                </li>
                <li>
                    The command-line interface (CLI) can take user commands
                    which each of them has aliases, and command history,
                    improving user experience.
                </li>
                <li>I had unit tests fully implemented.</li>
                <li>The code is modular and scalable.</li>
            </ul>
            <p>
                For more details, visit <a
                    class="text-blue-400 font-semibold"
                    href="https://github.com/cyandizy/DSAFinal"
                    target="_blank"
                    rel="noopener noreferrer"
                    >https://github.com/cyandizy/DSAFinal</a
                >
            </p>
        </div>
    </div>
</section>
