---
import "../../styles/certs.css";
---

<div class="cert-card">
    <div class="cert-img">
        <a
            href="certs/outstanding.jpg"
            target="_blank"
            rel="noopener noreferrer"
        >
            <img
                class="object-cover transition-all duration-300 ease-in-out lg:hover:scale-110 cursor-pointer"
                src="./certs/outstanding.jpg"
            /></a
        >
    </div>
    <div>
        <h3 class="font-semibold">Outstanding Student</h3><br />
        <p class="text-base/8">
            Awarded for achieving the highest GPA (3.96) in the department at
            Grade 11.
        </p>
    </div>
</div>
