<div class="cert-card">
    <div class="h-45 bg-white overflow-hidden flex justify-center items-center">
        <a href="certs/thm.png" target="_blank" rel="noopener noreferrer">
            <img
                class="object-cover transition-all duration-300 ease-in-out lg:hover:scale-110 cursor-pointer"
                src="./certs/thm.png"
            /></a
        >
    </div>
    <div>
        <h3 class="font-semibold">Pre-Security</h3><br />
        <p class="text-base/8">
            The acknowledgement of my completion of Pre-Security learning path
            on a Cybersecurity learning platform “TryHackMe”
        </p>
    </div>
</div>
